<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .row{
            width:100%;
            padding: 5px;
            margin: 3px;
        }
        input{
            margin-left: 3px;
        }
        #form-popup{
            border: 2px solid black;
            width:50%;
        }

        .form-pop-heading{
            padding : 10px;
            background-color: rgb(66, 64, 64);
            color: rgb(231, 210, 19);
            margin-top: 0;
            text-align: center;

        }
    </style>
</head>
<body>
    <div id="form-popup">

        <h2 class="form-pop-heading">CREATE TASK</h2>
     <form class="form" action="/createTask" method="post">
         <div class="row">
             <label for="project">For Project</label>
             <select id="project" name= "project">
                 <option value="" selected="true" disabled="disabled">Projects</option>
                 <% for(var i=0; i<projectList.length ;i++){ %>
                 <option value="Project 1"><%= projectList[i].title %></option>
                 <% } %>
               
             </select>
         </div>
         <div class="row">
             <label for="taskTitle">Title:</label>
             <input type="text" name="taskTitle" id="taskTitle">
         </div>
         <div class="row">
             <label for="taskDescription">Description:</label>
             <textarea name="taskDescription" id="taskDescription" cols="30" rows="10"></textarea>
         </div>
         <div class="row">
             <label for="assignTo">Assign to:</label>
             <select id="assignTo" name="taskUser">
                 <option value="" selected="true" disabled="disabled">Users</option>
                 <% for(var i=0; i<userList.length ;i++){ %>
                 <option value="<%= userList[i].email %>"><%= userList[i].email %></option>
                 <% } %>

             </select>  
         </div>
       
         <div class="row">
             <button id="assign" type="submit">Assign</button>
         </div>
        
     </form>
     <select id="change" onChange="this.form.submit()" name="newChange">
        <option value="" selected="true" disabled="disabled">change</option>
        
        <option value="<%= taskList[i].title %>"><input type="checkbox" name="status"
                value="Started">Started</option>
        <option value="<%= taskList[i].title %>"><input type="checkbox" name="status"
            value="Started">Ongoing</option>
        <option value="<%= taskList[i].title %>"><input type="checkbox" name="status"
            value="Started">InQA</option>
        <option value="<%= taskList[i].title %>"><input type="checkbox" name="status"
            value="Started">Completed</option>

    </select>

 </div>
</body>
</html>